.MAIN{
    border: 0.2px solid black;
    box-shadow: 0 0 15px rgb(249, 0, 0);
    border-collapse: collapse;
    width: 85%;
    margin-left: auto;
    margin-right: auto;
    height: 105vh;

}
caption{
    font-size: 50px;
    letter-spacing: 2px;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 15px;
    font-weight: bold;
    text-shadow: 3px 3px 10px red;
    
}
.H{
    background-color: rgb(1, 1, 94);
    color: white;
    border-left: 1px solid white;
    border-right: 1px solid white;
    font-size: 20px;
   

}
.H:hover{
    color: orange;
    background-color: white;
    transition: 0.5s;
   
    
}
.col-span{
    background-color: rgb(160, 207, 191);
    font-weight: bold;
    text-align: center;
    font-size: 18px;
}
td{
    border: 0.1px solid black;
    font-size: 20px;
    padding-left: 2px;
   
   
    
}

tr:hover{
background-color: rgb(225, 225, 223);
transition: 0.5s;
}
